
extends layout



block content
	.d-flex.justify-content-center
		.d-flex.align-items-start.flex-column.login-container
			.mb-auto(style="width: 100%")
				.app-logo
					img(src=`${ROOT_URL}/images/landing.svg`)
			div
				.app-name
					.short-title Register with your
					.title Internet Banking Application

					div.login-block
						div.phone-title Phone
						.phone-input
							.phone-valid
							input.form-control(type='number')
						button.btn-login(type='button') Continue


			




