
extends layout

block content
	.container
		#result
			.user-logo
				img(src=`${ROOT_URL}/images/user.svg`)

			.user-info
				.short-title Your Account
				.phone-title Phone
				.user-phone
					= phone_number
				

		.btn-block
			a(href=home_url)
				button.btn.btn-default.btn-done(type='button') Done


			




