
extends layout

block content
	.d-flex.justify-content-center
		.d-flex.align-items-end.flex-column.result-container
			#result
				.user-logo
					img(src=`${ROOT_URL}/images/user.svg`)

				.user-info
					.short-title Your Account
					.phone-title Phone
					.user-phone
						= phone_number
					

					.btn-result
						a(href=home_url)
							button.btn.btn-default.btn-done(type='button') Done

				.state-block
					= state	

				if token_info
					.token-block
						= token_info


			




