@import url('https://rsms.me/inter/inter.css');
body * { font-family: 'Inter', sans-serif; }


body 
	margin  0
	padding  0
	background white


.app-logo{
	position: relative;
	background-color: #F8F8FF;
	text-align: center;
	padding-top: 34px;

}

.app-name{
	padding: 40px 36px 0px 36px;

	.short-title{
		font-size: 16px;
		color: #6D6D6D;
	}

	.title{
		font-size: 26px;
		font-weight: bold;
	}
}
	

.login-container{

	.phone-title{
		color: #BCBCBC;
	}

	.login-block{
		width: 100%;
		padding-top: 30px;
	}

	.btn-login {
		width: 100%;
		border-radius: 5px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.1em;
		height: 54px;
		border:none;
		padding: 10px 30px 10px 30px;
		color: white;
		background-color: #EEEEEE;
		cursor: pointer;

		&:focus{
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		
	}

	&.valid{

		.btn-login{
			background-color: #007AFF;
		}

		.phone-valid{
			position: absolute;
			right: 0px;
			background-image: url(../images/valid.svg);
			width: 23px;
			height: 23px;
			background-repeat: no-repeat;
			top: 0px;
		}
		
	}

	

}

.state-block{
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}

.btn-done {
	width: 100%;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.1em;
	height: 54px;
	border: 1px solid #007AFF;
	padding: 10px 30px 10px 30px;
	color: #007AFF;
	background: white;  

	&:focus{
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	


}

#result{
	position: relative;
	width: 100%;
	
	.user-logo{
		position: relative;
		background-color: #F8F8FF;
		text-align: center;
		height: 301px;

		img{
			margin-top: 92px;
		}
	}

	.user-info{
		padding: 35px;
	}

	.short-title{
		color: #6D6D6D;
		font-size: 16px;
	}
	.phone-title{
		color: #BCBCBC;
		font-size: 16px;
		margin-top: 36px;
	}

	.user-phone{
		padding: 5px 0px;
		border-bottom: 1px solid #B7B7B7;
		background-image: url(../images/valid.svg);
		background-repeat: no-repeat;
		background-position: right;
	}

	.btn-result{
		padding-top: 50px;
	}

	
}

.phone-input{
	position: relative;
	padding-bottom: 60px;

	input {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #B7B7B7;
		border-radius: unset;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 100%;

		color: #000000;
		padding: 0px;
		padding-bottom: 5px;
		font-size: 16px;

		&:focus{
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	::placeholder{
			color: #BCBCBC;
	}

}

@media (max-width: 768px) {
	.login-container{
		width: 100%;
		height: 80vh
	}

	.app-logo {
		img{
			max-height: 175px;
		}
	}

	.result-container{
		width: 100%;
	}
}
@media (min-width: 768px) {
	
	.login-container{
		width: 360px;
		height: 90vh
	}

	.result-container{
		width: 360px;
	}
	
}
