@import url("https://rsms.me/inter/inter.css");
body * {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}
.app-logo {
  position: relative;
  background-color: #f8f8ff;
  text-align: center;
  padding-top: 34px;
}
.app-name {
  padding: 40px 36px 0px 36px;
}
.app-name .short-title {
  font-size: 16px;
  color: #6d6d6d;
}
.app-name .title {
  font-size: 26px;
  font-weight: bold;
}
.login-container .phone-title {
  color: #bcbcbc;
}
.login-container .login-block {
  width: 100%;
  padding-top: 30px;
}
.login-container .btn-login {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  height: 54px;
  border: none;
  padding: 10px 30px 10px 30px;
  color: #fff;
  background-color: #eee;
  cursor: pointer;
}
.login-container .btn-login:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login-container.valid .btn-login {
  background-color: #007aff;
}
.login-container.valid .phone-valid {
  position: absolute;
  right: 0px;
  background-image: url("../images/valid.svg");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  top: 0px;
}
.state-block {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.token-block {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  color: #f00;
}
.btn-done {
  width: 100%;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  height: 54px;
  border: 1px solid #007aff;
  padding: 10px 30px 10px 30px;
  color: #007aff;
  background: #fff;
}
.btn-done:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#result {
  position: relative;
  width: 100%;
}
#result .user-logo {
  position: relative;
  background-color: #f8f8ff;
  text-align: center;
  height: 301px;
}
#result .user-logo img {
  margin-top: 92px;
}
#result .user-info {
  padding: 35px;
}
#result .short-title {
  color: #6d6d6d;
  font-size: 16px;
}
#result .phone-title {
  color: #bcbcbc;
  font-size: 16px;
  margin-top: 36px;
}
#result .user-phone {
  padding: 5px 0px;
  border-bottom: 1px solid #b7b7b7;
  background-image: url("../images/valid.svg");
  background-repeat: no-repeat;
  background-position: right;
}
#result .btn-result {
  padding-top: 50px;
}
.phone-input {
  position: relative;
  padding-bottom: 60px;
}
.phone-input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  border-radius: unset;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  color: #000;
  padding: 0px;
  padding-bottom: 5px;
  font-size: 16px;
}
.phone-input input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.phone-input ::placeholder {
  color: #bcbcbc;
}
@media (max-width: 768px) {
  .login-container {
    width: 100%;
    height: 80vh;
  }
  .app-logo img {
    max-height: 175px;
  }
  .result-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .login-container {
    width: 360px;
    height: 90vh;
  }
  .result-container {
    width: 360px;
  }
}
